@use "./variables" as var;

.card{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 350px;
    padding: 2.5em;   

}

.card--orange{
    background-color: var.$orange ;

    &::before{
        content: url("../images/icon-sedans.svg");
    }

}

.card--cyandark{
    background-color: var.$cyandark;
    
    &::before{
        content: url("../images/icon-suvs.svg");
    }
}

.card--verydarkcyan{
    background-color: var.$verydarkcyan;
    
    &::before{
        content: url("../images/icon-luxury.svg");
    }
}